services:
  web:
    container_name: web
    build:
      context: ./docker
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./.env
      - ./.env.db
    ports:
      - 5678:5678
      - 8000:8000
    volumes:
      - ./src/:/home/app/web/
  db:
    container_name: db
    image: postgres:16
    restart: unless-stopped
    env_file:
      - ./.env.db
    volumes:
      - db_data:/var/lib/postgresql/data/
    ports:
      - 5432:5432

volumes:
  db_data: