services:
  web:
    container_name: web
    build:
      context: ./docker
      dockerfile: Dockerfile
    restart: unless-stopped
    env_file:
      - ./.env
    ports:
      - 5678:5678
      - 8000:8000
    volumes:
      - ./src/:/home/app/web/